MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=database
MYSQL_USER=dbuser
MYSQL_PASSWORD=dbpass

JOOMLA_SITE_NAME=Joomla Oauth Server
JOOMLA_ADMIN_USER=admin
JOOMLA_ADMIN_USERNAME=admin
JOOMLA_ADMIN_PASSWORD=StrongPassword123!
JOOMLA_ADMIN_EMAIL=admin@example.com
JOOMLA_DB_HOST=joomla_db:3306
JOOMLA_DB_NAME=${MYSQL_DATABASE}
JOOMLA_DB_USER=${MYSQL_USER}
JOOMLA_DB_PASSWORD=${MYSQL_PASSWORD}
JOOMLA_EXTENSIONS_URLS=https://github.com/JPathRu/localisation/releases/download/5.4.1.1/ru-RU_joomla_lang_full_5.4.1v1.zip

JOOMLA_PORT=8080
MYSQL_PORT=9306
