.project
.settings
.DS_Store
.idea
.vscode
/tmp
/.php-cs-fixer.cache
/com_oauthserver/media

composer.phar
com_oauthserver/administrator/vendor
!com_oauthserver/administrator/vendor/.gitkeep

node_modules/

._*
.Spotlight-V100
.Trashes

Thumbs.db
Desktop.ini

!/.gitignore
